/* Taking a mobile first initiative to design */

body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
}

h1,
h2 {
    letter-spacing: 0.25rem;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}



/** Header section **/

header nav {
    background: #252831;
    color: white;
    height: 15vh;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
}

header nav a {
    color: white;
}

.breadcrumb {
    list-style: none;
    background-color: #eee;
    /*width: 100vw;*/
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    height: 5vh;
}

/* Add a color to all links inside the list */
.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
    padding: 0.5em;
    color: black;
    content: "/\00a0";
}


/* Map section */

.map-container {
    background: blue none repeat scroll 0 0;
    height: 50vh;
    width: 100%;
}

.map {
    height: 100%;
    width: 100%;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
    width: 100%;
    background-color: #3397DB;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 1rem;

}



.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    height: 3em;
    letter-spacing: 0;
    margin: 1em;
    padding: 0 1em;
    min-width: 200px;
}

/** Restaurant container section - seen in restaurant info page **/

.restaurants-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.restaurant-container .restaurant-name {
    width: 100vw;
    color: #f18200;
    text-transform: uppercase;
    text-align: center;
}

.restaurant-container img {
    width: 80vw;
    /*height: 40vh;*/
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
}

.restaurant-container .restaurant-cuisine {
    width: 80vw;
    background-color: #333;
    color: #ddd;
    max-height: 5vh;
    letter-spacing: 0.25rem;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/** Restaurant lists section **/
.restaurants-list img {
    width: 80vw;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
}

.restaurants-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.restaurants-list li h2 {
    color: #f18200;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0;
    text-transform: uppercase;
}

.restaurants-list li p {
    margin: 0;
}

.restaurants-list li a {
    background-color: #f18200;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    margin: 1em 0 0;
    padding: 0.75em 2em 0.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* Reviews Section */
.reviews-container h2 {
    color: #f58500;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1.25rem;
}

.reviews-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 1rem;
}

.reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    list-style-type: none;
    /*overflow: hidden;*/
    padding: 0;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 1rem;
    display: grid;
    grid-template-areas: "name date"
        "rating  rating"
        "comment  comment";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    width: 90vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.reviews-list li p {
    margin: 0;
}


.reviews-list li p:nth-child(1) {
    grid-area: name;
    border-top-left-radius: 1rem;
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
    font-weight: bold;
}

.reviews-list li p:nth-child(2) {
    grid-area: date;
    font-size: 0.75rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews-list li p:nth-child(1),
.reviews-list li p:nth-child(2) {
    background: #444;
    color: #ddd;
    padding: 1em;
}


.reviews-list li p:nth-child(3) {
    grid-area: rating;
    background: #f18200;
    width: 33vw;
    color: white;
    padding: 0.5em;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.25rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-list li p:nth-child(4) {
    grid-area: comment;
    color: #333;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-weight: normal;
}




/* Footer Section */
.footer {
    height: 15vh;
    background: #444;
    color: #aaa;
    letter-spacing: 0.25rem;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}


/*** Responsive Design **/

@media only screen and (min-width: 541px) and (max-width: 768px) {

    /** Header section **/
    header nav {
        font-size: 1.5rem;
    }

    /** Restaurant container section - seen in restaurant info page **/
    .restaurant-container img {
        width: 40vw;
        /*height: 60vh;*/
    }

    .restaurant-container .restaurant-cuisine {
        width: 40vw;
    }

    .restaurant-container div:nth-child(3) {
        margin-left: 1rem;
    }

    /** Restaurant lists section **/

    .restaurants-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .restaurants-list img {
        width: 40vw;
    }

    /** prevent them from taking up too much width based on their contents */
    .restaurants-list li h2,
    .restaurants-list li a {
        max-width: 30vw;
    }

    /* ====================== Restaurant Filtering ====================== */
    .filter-options {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    /* Reviews Section */
    .reviews-list li p:nth-child(3) {
        width: 20vw;
    }
}

@media only screen and (min-width: 769px) {

    /** Header section **/
    header nav {
        font-size: 1.5rem;
    }

    /** Restaurant container section - seen in restaurant info page **/
    .restaurant-container img {
        width: 40vw;
        /*height: 60vh;*/
    }

    .restaurant-container .restaurant-cuisine {
        width: 40vw;
    }

    .restaurant-container div:nth-child(3) {
        margin-left: 1rem;
    }

    /** Restaurant lists section **/
    .restaurants-list img {
        width: 40vw;
    }

    .restaurants-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    /** prevent them from taking up too much width based on their contents */
    .restaurants-list li a,
    .restaurants-list li h2,
        {
        max-width: 30vw;
    }

    /* Footer Section */
    .footer {
        height: 10vh;
    }

    /* ====================== Restaurant Filtering ====================== */
    .filter-options {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    /* Reviews Section */
    .reviews-list li p:nth-child(3) {
        width: 16vw;
    }

}